@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    position: relative;
    background-color: #FFFFFF;
}

/* Rond en haut à gauche */
.bg-circle-left {
    position: fixed; /* Fini les problèmes avec absolute */
    top: -400px; 
    left: -400px;
    width: 1000px;
    height: 1000px;
    background: radial-gradient(circle, #BDD2FF 50%, transparent 90%);
    filter: blur(120px);
    z-index: -1;
}

/* Rond à droite */
.bg-circle-right {
    position: fixed;
    top: 150px;
    right: -700px;
    width: 1200px;
    height: 1200px;
    background: radial-gradient(circle, #FFBABA 20%, transparent 90%);
    filter: blur(120px);
    z-index: -1;
}

/* 🌍 Adaptation mobile et tablette */
@media (max-width: 1024px) {
    .bg-circle-left {
        top: -250px;
        left: -250px;
        width: 700px;
        height: 700px;
        filter: blur(100px);
    }

    .bg-circle-right {
        top: 120px;
        right: -400px;
        width: 800px;
        height: 800px;
        filter: blur(100px);
    }
}

@media (max-width: 768px) {
    .bg-circle-left {
        top: -200px;
        left: -200px;
        width: 500px;
        height: 500px;
        filter: blur(80px);
    }

    .bg-circle-right {
        top: 100px;
        right: -300px;
        width: 600px;
        height: 600px;
        filter: blur(80px);
    }
}

#app { height: 100%; }
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  font-size: 18px;
  color: #fff;
  box-sizing: border-box;
  padding: 40px 60px;
}

.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.swiper-slide .title {
  font-size: 41px;
  font-weight: 300;
}

.swiper-slide .subtitle {
  font-size: 21px;
}

.swiper-slide .text {
  font-size: 14px;
  max-width: 400px;
  line-height: 1.3;
}
