---
import "../styles/global.css";
---

<html>
  <head>
    <title>Test Tailwind</title>
  </head>
  <body class="bg-red-500 text-white">
    <h1 class="text-3xl font-bold">Si ce texte est rouge, Tailwind fonctionne !</h1>
  </body>
</html>

