---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from "../components/Header.jsx";
import Footer from "../components/Footer.jsx";
import Carousel from "../components/Carousel.jsx";
import HeroSection from "../components/HeroSection.jsx";

---

<BaseLayout>
  <body class="relative">
    <div class="bg-circle-left"></div>
    <div class="bg-circle-right"></div>
	<Header client:load />
	<main>
    <section>
      <Carousel client:load />
      <HeroSection client:load />
    </section>
	</main>
  <Footer client:load />
</BaseLayout>
