---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from "../components/Header.jsx";
---

<BaseLayout>
  <body class="relative">
    <div class="bg-circle-left"></div>
    <div class="bg-circle-right"></div>
	<Header client:load />
	<main>


	</main>
</BaseLayout>
